div.cpack table
{ font-size: 80%;
  float: right;
  border: 1px dotted;
}

div.cpack br.after-ptable
{ display:none;				# Remove if you want the table above
  clear:both;
}

div.cpack th
{ text-align: right;
}

div.cpack div.description
{ margin-top: 1em;
}

ul.files
{ list-style-type: none;
}

ul.files li
{ font-family: Monospace;
}
